@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap");

/* variables */
:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(240, 6%, 54%);
  --clr-neutral-600: hsl(240, 17%, 26%);
  --clr-neutral-800: hsl(240, 67%, 8%);

  --clr-primary-Mercury: hsl(194, 48%, 49%);
  --clr-primary-Venus: hsl(33, 82%, 61%);
  --clr-primary-Earth: hsl(263, 67%, 51%);
  --clr-primary-Mars: hsl(10, 63%, 51%);
  --clr-primary-Jupiter: hsl(27, 75%, 70%);
  --clr-primary-Saturn: hsl(40, 96%, 70%);
  --clr-primary-Uranus: hsl(169, 73%, 44%);
  --clr-primary-Neptune: hsl(222, 87%, 56%);

  --clr-planet: var(--clr-primary-earth);

  /*font-family*/
  --ff-spartan: "League Spartan", sans-serif;
  --ff-antonio: "Antonio", sans-serif;

  /*font sizes, all at 16px*/
  --fs-100: 0.5rem; /*8px*/
  --fs-150: 0.563rem; /*9px*/
  --fs-200: 0.688rem; /*11px*/
  --fs-250: 0.75rem; /*12px*/
  --fs-300: 0.875rem; /*14px*/
  --fs-350: 0.938rem; /*15px*/
  --fs-400: 1.25rem; /*20px*/
  --fs-500: 1.5rem; /*24px*/
  --fs-600: 1.75rem; /*28px*/
  --fs-700: 2.5rem; /*40px*/
  --fs-800: 3rem; /*48*/
  --fs-900: 5rem; /*80*/

  /*font-weights*/
  --fw-normal: 400;
  --fw-bold: 700;
}

/* mobile styles */
@media screen and (min-width: 000px) {
  :root {
    --fs-h1: var(--fs-600);
    --fs-site-nav: var(--fs-350);
    --fs-h2: var(--fs-700);
    --fs-planet-info-p: var(--fs-200);
    --fs-planet-info-source: var(--fs-250);
    --fs-planet-info-nav: var(--fs-200);
    --fs-h3: var(--fs-300);
    --fs-planet-fact-p: var(--fs-400);
  }
}

/* tablet styles */
@media screen and (min-width: 600px) {
  :root {
    --fs-h2: var(--fs-800);
    --fs-planet-fact-p: var(--fs-500);
  }
}

/* desktop styles */
@media screen and (min-width: 1000px) {
  :root {
    --fs-site-nav: var(--fs-200);
    --fs-h2: var(--fs-900);
    --fs-planet-info-p: var(--fs-300);
    --fs-planet-info-source: var(--fs-300);
    --fs-planet-info-nav: var(--fs-250);
    --fs-h3: var(--fs-200);
    --fs-planet-fact-p: var(--fs-700);
  }
}

/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
  width: fit-content;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*remove style and color from links*/
a {
  text-decoration: none;
  color: inherit;
}

/* basic styles */
body {
  background-color: var(--clr-neutral-800);
  background-image: url(./assets/background-stars.svg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* fonts?? */
h1 {
  font-family: var(--ff-antonio);
  font-size: var(--fs-h1);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-100);
}
h2 {
  font-family: var(--ff-antonio);
  font-size: var(--fs-h2);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-100);
}
h3 {
  font-family: var(--ff-spartan);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
}
#planet-nav li {
  font-family: var(--ff-spartan);
  font-size: var(--fs-site-nav);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

#planet-info p {
  font-family: var(--ff-spartan);
  font-size: var(--fs-planet-info-p);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-100);
}
#planet-info nav {
  font-family: var(--ff-spartan);
  font-size: var(--fs-planet-info-nav);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
}
#planet-info footer {
  font-family: var(--ff-spartan);
  font-size: var(--fs-planet-info-source);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-400);
}
#planet-info a {
  font-weight: var(--fw-bold);
  text-decoration: underline;
}
#planet-info nav * {
  font-family: var(--ff-spartan);
  font-size: var(--fs-planet-info-nav);
  font-family: var(--fw-bold);
  color: var(--clr-neutral-100);
}

#planet-info .num {
  color: var(--clr-neutral-400);
}

#planet-facts p {
  font-family: var(--ff-antonio);
  font-size: var(--fs-planet-fact-p);
  font-weight: var(--fw-normal);
}

#planet-facts p {
  font-family: var(--ff-antonio);
  font-size: var(--fs-planet-fact-p);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-100);
}

#planet-facts article {
  border: 1px solid var(--clr-neutral-400);
}

/* mobile styles */
@media screen and (min-width: 0px) {
  body {
    margin: 16px 24px;
  }

  #header {
    align-items: center;
    border-bottom: 1px solid var(--clr-neutral-400);
    padding-bottom: 10px;
  }

  #header h1 {
    grid-column: 1/10;
  }

  #header button {
    grid-column: 12/13;
    justify-self: end;
  }

  @media (hover: hover) {
    #header button {
      cursor: pointer;
    }
  }

  #planet-nav {
    grid-column: 1/13;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
  }

  #planet-nav.show {
    height: 520px;
  }

  #planet-nav button {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid var(--clr-neutral-400);
    width: 100%;
    justify-items: start;
  }

  @media (hover: hover) {
    #planet-nav button:hover {
      color: var(--clr-neutral-400);
      cursor: pointer;
    }
  }

  #planet-nav .planet-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  #planet-nav .mercury {
    background-color: var(--clr-primary-Mercury);
  }
  #planet-nav .venus {
    background-color: var(--clr-primary-Venus);
  }
  #planet-nav .earth {
    background-color: var(--clr-primary-Earth);
  }
  #planet-nav .mars {
    background-color: var(--clr-primary-Mars);
  }
  #planet-nav .jupiter {
    background-color: var(--clr-primary-Jupiter);
  }
  #planet-nav .saturn {
    background-color: var(--clr-primary-Saturn);
  }
  #planet-nav .uranus {
    background-color: var(--clr-primary-Uranus);
  }
  #planet-nav .neptune {
    background-color: var(--clr-primary-Neptune);
  }

  #planet-nav .chevron {
    justify-self: end;
  }

  #planet-info nav {
    grid-column: 1/13;
    grid-row: 1;
    border-bottom: 1px solid var(--clr-neutral-400);
    margin-top: 5px;
  }

  #planet-info ol {
    display: flex;
    justify-content: space-between;
  }

  #planet-info .hide {
    display: none;
  }

  #planet-info button {
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 4px solid transparent;
    text-transform: uppercase;
    color: var(--clr-neutral-400);
  }

  #planet-info button.active {
    color: var(--clr-neutral-100);
    border-bottom: 4px solid var(--clr-planet);
  }

  @media (hover: hover) {
    #planet-info button:hover {
      color: var(--clr-neutral-100);
      border-bottom: 4px solid var(--clr-planet);
      cursor: pointer;
    }
  }
  #planet-info button:focus-visible {
    color: var(--clr-neutral-100);
    border-bottom: 4px solid var(--clr-planet);
  }
  #planet-info button:active {
    color: var(--clr-neutral-100);
    border-bottom: 4px solid var(--clr-planet);
  }

  #planet-info .image-wrapper {
    position: relative;
    grid-column: 4/10;
    justify-self: center;
    margin: 7vh 0;
  }

  #planet-info .planet {
    max-width: 173px;
    max-height: 173px;
  }

  #planet-info .geology {
    max-width: 40%;
    left: calc(50% - 35px);
    top: calc(50% + 35px);
  }

  #planet-info article {
    grid-column: 1/13;
    text-align: center;
    margin-bottom: 28px;
  }
  #planet-info p {
    margin-top: 16px;
    margin-bottom: 32px;
    line-height: 22px;
  }

  #planet-info .source {
    display: inline-block;
    margin: 0;
    width: 12px;
    transform: translateY(2px);
    margin-left: 3px;
  }

  #planet-info .image-wrapper {
    position: relative;
  }

  #planet-info .geology {
    position: absolute;
    z-index: 100;
    width: 129px;
  }

  #planet-facts {
    gap: 8px;
  }

  #planet-facts article {
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
    align-items: center;
  }
}

/* tablet styles */
@media screen and (min-width: 600px) {
  body {
    margin: 32px 39px;
  }
  #header {
    border: none;
  }
  #header h1 {
    grid-column: 1/13;
    justify-self: center;
  }

  #header svg {
    display: none;
  }

  #planet-nav,
  #planet-nav.show {
    display: block;
    height: 100%;
    border-bottom: 1px solid var(--clr-neutral-400);
    transition: 0s;
  }
  #planet-nav ul {
    display: flex;
    justify-content: space-between;
  }
  #planet-nav button {
    display: inline-block;
    border: none;
    color: var(--clr-neutral-400);
  }

  #planet-nav button.active {
    color: var(--clr-neutral-100);
  }

  @media (hover: hover) {
    #planet-nav button:hover {
      color: var(--clr-neutral-100);
      cursor: pointer;
    }
  }
  #planet-nav button:focus-visible,
  #planet-nav button:active {
    color: var(--clr-neutral-100);
  }

  #planet-nav .planet-icon,
  #planet-nav .chevron {
    display: none;
  }

  #planet-info .image-wrapper {
    grid-row: 1;
    grid-column: 1/13;
    justify-self: center;
    margin-top: 8vh;
    margin-bottom: 7vh;
  }

  #planet-info .planet {
    max-height: 280px;
    max-width: 280px;
  }

  #planet-info .geology {
    left: calc(50% - 55px);
  }

  #planet-info article {
    grid-column: 1/7;
    text-align: left;
  }
  #planet-info nav {
    grid-column: 8/13;
    grid-row: 2;
    padding: 16px 0px;
    border: none;
    margin-top: 5vh;
  }
  #planet-info ol {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #planet-info button {
    border: 1px solid var(--clr-neutral-400);
    color: var(--clr-neutral-100);
    height: 40px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  #planet-info button.active {
    border: 1px solid var(--clr-planet);
    background-color: var(--clr-planet);
  }

  @media (hover: hover) {
    #planet-info button:hover {
      border: 1px solid var(--clr-neutral-400);
      background-color: var(--clr-neutral-600);
      cursor: pointer;
    }
  }

  #planet-info button:focus-visible {
    border: 1px solid var(--clr-neutral-400);
    background-color: var(--clr-neutral-600);
  }

  #planet-info button:active {
    border: 1px solid var(--clr-planet);
    background-color: var(--clr-planet);
  }

  #planet-info .hide {
    display: block;
  }
  #planet-info .num {
    margin-right: 17px;
  }

  #planet-facts article {
    grid-column: span 3;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-top: 2vh;
  }
}

/* desktop styles */
@media screen and (min-width: 1000px) {
  body {
    margin: 0px 0px;
  }
  .header-wrapper {
    display: grid;
    max-width: 1440px;
    margin: auto;
    padding: 0px 32px;
    border-bottom: 1px solid var(--clr-neutral-400);
  }
  #header {
    padding: 0px;
  }

  #header.grid {
    height: fit-content;
    width: fit-content;
    align-self: center;
  }

  #planet-nav,
  #planet-nav.show {
    grid-column: 8/13;
    border: none;
    height: 100%;
    transition: 0s;
  }

  #planet-nav {
    grid-column: 9/13;
  }

  #planet-nav button {
    border-top: 4px solid transparent;
  }

  #planet-nav button.active {
    color: var(--clr-neutral-100);
  }

  @media (hover: hover) {
    #planet-nav button:hover {
      color: var(--clr-neutral-100);
      border-top: 4px solid var(--clr-planet);
    }
  }
  #planet-nav button:focus-visible,
  #planet-nav button:active {
    color: var(--clr-neutral-100);
    border-top: 4px solid var(--clr-planet);
  }

  .desktop-body-wrapper {
    max-width: min(calc(100vw - 40px), 1100px);
    margin: auto;
    margin-top: 7vh;
  }

  #planet-info .image-wrapper {
    grid-row: span 2;
    grid-column: 1/10;
    align-self: center;
    justify-self: center;
  }

  #planet-info .planet {
    max-width: 400px;
    max-height: 400px;
  }

  #planet-info .geology {
    max-width: 129px;
    left: calc(50% - 65px);
    top: calc(50% + 80px);
  }

  #planet-info article {
    grid-column: 10/13;
  }

  #planet-info p {
    height: 165px;
  }

  #planet-info nav {
    grid-row: 2;
    grid-column: 10/13;
  }

  #planet-info .num {
    margin-right: 20px;
  }

  #planet-facts {
    margin-top: 3vh;
    gap: 30px;
  }

  #planet-facts article {
    height: 128px;
    max-width: 255px;
  }
}
