@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap");

/* variables */
:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(240, 6%, 54%);
  --clr-neutral-600: hsl(240, 17%, 26%);
  --clr-neutral-800: hsl(240, 67%, 8%);

  --clr-primary-mercury: hsl(194, 48%, 49%);
  --clr-primary-venus: hsl(33, 82%, 61%);
  --clr-primary-earth: hsl(263, 67%, 51%);
  --clr-primary-mars: hsl(10, 63%, 51%);
  --clr-primary-jupiter: hsl(27, 75%, 70%);
  --clr-primary-saturn: hsl(40, 96%, 70%);
  --clr-primary-uranus: hsl(169, 73%, 44%);
  --clr-primary-neptune: hsl(222, 87%, 56%);

  /*font-family*/
  --ff-spartan: "League Spartan", sans-serif;
  --ff-antonio: "Antonio", sans-serif;

  /*font sizes, all at 16px*/
  --fs-100: 0.5rem; /*8px*/
  --fs-150: 0.563rem; /*9px*/
  --fs-200: 0.688rem; /*11px*/
  --fs-250: 0.75rem; /*12px*/
  --fs-300: 0.875rem; /*14px*/
  --fs-350: 0.938rem; /*15px*/
  --fs-400: 1.25rem; /*20px*/
  --fs-500: 1.5rem; /*24px*/
  --fs-600: 1.75rem; /*28px*/
  --fs-700: 2.5rem; /*40px*/
  --fs-800: 3rem; /*48*/
  --fs-900: 5rem; /*80*/

  /*font-weights*/
  --fw-normal: 400;
  --fw-bold: 700;
}

/* mobile styles */
@media screen and (min-width: 000px) {
  :root {
    --fs-h1: var(--fs-600);
    --fs-site-nav: var(--fs-350);
    --fs-h2: var(--fs-700);
    --fs-planet-info-p: var(--fs-200);
    --fs-planet-info-source: var(--fs-250);
    --fs-planet-info-nav: var(--fs-200);
    --fs-h3: var(--fs-300);
    --fs-planet-fact-p: var(--fs-400);
  }
}

/* tablet styles */
@media screen and (min-width: 600px) {
  :root {
    --fs-h2: var(--fs-800);
    --fs-planet-fact-p: var(--fs-500);
  }
}

/* desktop styles */
@media screen and (min-width: 1000px) {
  :root {
    --fs-site-nav: var(--fs-200);
    --fs-h2: var(--fs-900);
    --fs-planet-info-p: var(--fs-300);
    --fs-planet-info-source: var(--fs-300);
    --fs-planet-info-nav: var(--fs-250);
    --fs-h3: var(--fs-200);
    --fs-planet-fact-p: var(--fs-700);
  }
}

/*
  --header
  h1 - antonio 400fw 28px 36.21lh --clr-n-100
  site nav a - Spartan 700fw  11px 25lh --clr-n-100?? maybe 300, 100 on hover and line over top!!
      mobile...               15px  --clr-n-100 for sure 

  --planet-info
  h2 - antonio 400fw  80px  103.52lh --clr-n-100
      tablet....      48px  62.11lh
      mobile....      40px  51.76lh
  p - spartan 400fw 14px  25lh --clr-n-100
      tablet....    11px  22lh
      mobile...     11px  22lh
  footer 'SOURCE' - spartan 400fw 14px  25lh --clr-n-100?? maybe 300
      tablet...                   12px  
      mobile...                   12px  
  footer 'WIKIPEDIA' - spartan 700fw  14px 25lh --clr-n-100?  maybe 300
      tablet...                       12px
      mobile...                       12px

  --planet-info-nav
  feature nav button number - spartan 700fw 12px 25lh --clr-n-100? maybe 300
      tablet...                             9px
      mobile...        HIDDEN
  feature nav button text - spartan 700fw 12px 25lh --clr-n-100
      tablet...                           9px
      mobile...                                10lh?

  --planet facts
  h3 - Spartan 700fw  11px 25lh - clr-n-100? 300 maybe
      tablet...       8px  16lh
      mobile...       8px  16lh
  p - antonio 400fw 40px 51.76lh - clr-n-100
      tablet...     24px 31.05lh
      mobile...     20px 25.88lh
  */

/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*remove style and color from links*/
a {
  text-decoration: none;
  color: inherit;
}

/* basic styles */
body {
  background-color: var(--clr-neutral-800);
  background-image: url(./assets/background-stars.svg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* fonts?? */
h1 {
  font-family: var(--ff-antonio);
  font-size: var(--fs-h1);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-100);
}
h2 {
  font-family: var(--ff-antonio);
  font-size: var(--fs-h2);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-100);
}
h3 {
  font-family: var(--ff-spartan);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
}
#planet-nav a {
  font-family: var(--ff-spartan);
  font-size: var(--fs-site-nav);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

@media (hover: hover) {
  #planet-nav a:hover {
    color: var(--clr-neutral-400);
  }
}

#planet-info p {
  font-family: var(--ff-spartan);
  font-size: var(--fs-planet-info-p);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-100);
}
#planet-info nav {
  font-family: var(--ff-spartan);
  font-size: var(--fs-planet-info-nav);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
}
#planet-info footer {
  font-family: var(--ff-spartan);
  font-size: var(--fs-planet-info-source);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-400);
}
#planet-info a {
  font-weight: var(--fw-bold);
  text-decoration: underline;
}
#planet-info nav * {
  font-family: var(--ff-spartan);
  font-size: var(--fs-planet-info-nav);
  font-family: var(--fw-bold);
  color: var(--clr-neutral-100);
}

#planet-info .num {
  color: var(--clr-neutral-400);
}

#planet-facts p {
  font-family: var(--ff-antonio);
  font-size: var(--fs-planet-fact-p);
  font-weight: var(--fw-normal);
}

#planet-facts p {
  font-family: var(--ff-antonio);
  font-size: var(--fs-planet-fact-p);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-100);
}

#planet-facts article {
  border: 1px solid var(--clr-neutral-400);
}

/* mobile styles */
@media screen and (min-width: 200px) {
  body {
    margin: 16px 24px;
  }

  #header {
    align-items: center;
    border-bottom: 1px solid var(--clr-neutral-400);
    padding-bottom: 10px;
  }

  #header h1 {
    grid-column: 1/10;
  }

  #header svg {
    grid-column: 12/13;
    justify-self: end;
  }

  #planet-nav {
    grid-column: 1/13;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
  }

  #planet-nav.show {
    height: 520px;
  }

  #planet-nav li {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid var(--clr-neutral-400);
  }

  #planet-nav .planet-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  #planet-nav .mercury {
    background-color: var(--clr-primary-mercury);
  }
  #planet-nav .venus {
    background-color: var(--clr-primary-venus);
  }
  #planet-nav .earth {
    background-color: var(--clr-primary-earth);
  }
  #planet-nav .mars {
    background-color: var(--clr-primary-mars);
  }
  #planet-nav .jupiter {
    background-color: var(--clr-primary-jupiter);
  }
  #planet-nav .saturn {
    background-color: var(--clr-primary-saturn);
  }
  #planet-nav .uranus {
    background-color: var(--clr-primary-uranus);
  }
  #planet-nav .neptune {
    background-color: var(--clr-primary-neptune);
  }

  #planet-nav .chevron {
    justify-self: end;
  }

  #planet-info nav {
    grid-column: 1/13;
    grid-row: 1;
    border-bottom: 1px solid var(--clr-neutral-400);
    margin-top: 5px;
  }

  #planet-info ol {
    display: flex;
    justify-content: space-between;
  }

  #planet-info li {
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 4px solid transparent;
    text-transform: uppercase;
    color: var(--clr-neutral-400);
  }

  #planet-info .hide {
    display: none;
  }

  #planet-info li:hover,
  #planet-info li:focus,
  #planet-info li:active {
    color: var(--clr-neutral-100);
    border-bottom: 4px solid var(--clr-primary-earth);
    cursor: pointer;
  }

  #planet-info .planet {
    grid-column: 4/10;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  #planet-info article {
    grid-column: 1/13;
    text-align: center;
    margin-bottom: 28px;
  }
  #planet-info p {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  #planet-info .source {
    display: inline-block;
    margin: 0;
    width: 12px;
    transform: translateY(2px);
    margin-left: 3px;
  }

  #planet-facts {
    gap: 8px;
  }

  #planet-facts article {
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
    align-items: center;
  }
}

/* tablet styles */
@media screen and (min-width: 600px) {
  body {
    margin: 32px 39px;
  }
  #header {
    border: none;
  }
  #header h1 {
    grid-column: 1/13;
    justify-self: center;
  }

  #header svg {
    display: none;
  }

  #planet-nav {
    display: block;
    height: 100%;
    border-bottom: 1px solid var(--clr-neutral-400);
  }
  #planet-nav ul {
    display: flex;
    justify-content: space-between;
  }
  #planet-nav li {
    display: inline-block;
    border: none;
  }
  #planet-nav a {
    color: var(--clr-neutral-400);
  }
  @media (hover: hover) {
    #planet-nav a:hover {
      color: var(--clr-neutral-100);
    }
  }
  #planet-nav .planet-icon,
  #planet-nav .chevron {
    display: none;
  }

  #planet-info .planet {
    grid-row: 1;
    grid-column: 1/13;
    justify-self: center;
    margin-top: 10vh;
    margin-bottom: 7vh;
    max-height: 265px;
    max-width: 265px;
  }
  #planet-info article {
    grid-column: 1/6;
    text-align: left;
  }
  #planet-info nav {
    grid-column: 8/13;
    grid-row: 2;
    padding: 16px 0px;
    border: none;
  }
  #planet-info ol {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #planet-info li {
    border: 1px solid var(--clr-neutral-400);
    color: var(--clr-neutral-100);
    height: 40px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #planet-info .hide {
    display: block;
  }
  #planet-info .num {
    margin-right: 17px;
  }

  @media (hover: hover) {
    #planet-info li:hover,
    #planet-info li:active {
      border: 1px solid var(--clr-neutral-400);
      background-color: var(--clr-primary-earth);
      cursor: pointer;
    }
  }

  #planet-facts article {
    grid-column: span 3;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-top: 2.5vh;
  }
}

/* desktop styles */
@media screen and (min-width: 1000px) {
  .desktop-wrapper {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
  #header {
    display: block;
    grid-column: 1/3;
  }
  #planet-nav {
    grid-column: 8/13;
    gap: 30px;
    border: none;
  }
  .wrapper {
    max-width: 1100px;
    margin: auto;
    margin-top: 5vh;
  }

  #planet-info .planet {
    grid-row: span 2;
    grid-column: 1/10;
    align-self: center;
    justify-self: center;
    width: 400px;
    height: 400px;
  }

  #planet-info article {
    grid-column: 10/13;
  }

  #planet-info nav {
    grid-row: 2;
    grid-column: 10/13;
  }

  #planet-info .num {
    margin-right: 20px;
  }

  #planet-facts {
    margin-top: 4vh;
    gap: 30px;
  }

  #planet-facts article {
    height: 128px;
    max-width: 255px;
  }
}
